---
import { db, NavigationItems } from "astro:db";
import NavigationItem from "./NavigationItem.astro";

const navigationItems = await db.select().from(NavigationItems);
---

<nav>
  <ul>
    {navigationItems.map((item) => <NavigationItem {item} />)}
  </ul>
</nav>
